
body {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 2em;
	color: #0047B3;
	background-color: #FAFCFF;
	padding: 0 40px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #FFAA00;
}
h1 {
	font-size: 27px;
	padding: 4px 0;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 2em;
}
h2 {
	font-size: 22px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	background-color: #FAFCFF;
}
h3 {
	font-size: 22px;
	letter-spacing: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #B37700;
	padding: 4px 0;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #B37700;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #B37700;
	text-decoration: none;
}
a:hover {
	color: #FFC54E;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 14px;
}

/* table styles -------------------------------------- */
table {
	border: solid #FFC54E 1px;
}
td {
	padding: 6px;
	border: solid #FFC54E 1px;
}
th {
	font-weight: bold;
	background-color:#FAFCFF;
	text-align: center;
	padding: 6px;
	border: solid #FFC54E 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #FFAA00 1px;
}

img {
	border: solid #FFAA00 1px;

}

iframe {
	border: solid #FFAA00 1px;
	padding: 8px;
	margin: 8px;
}
